.container{
    background-color: rgb(119, 177, 165);
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  .checked {
    color: orange;
  }