<div class="container con">
    <div class="row">
        <div class="column1">
            <h3>Charminar</h3>
            <img src='/assets/Images/Charminar.jpg' style="width:100%"/>   
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>
        <div class="column2">
         <p>The capital city of Telangana, Hyderabad is a popular tourist destination and presents its visitors with a mesmerising contrast of age old traditions, culture at one end and modern facilities, amenities of a metropolitan city at the other end. Hyderabad is one city, which has no dearth of tourist attractions.The capital city of Telangana, Hyderabad is a popular tourist destination and presents its visitors with a mesmerising contrast of age old traditions, culture at one end and modern facilities, amenities of a metropolitan city at the other end. Hyderabad is one city, which has no dearth of tourist attractions.</p>

         <p>The very well known Charminar of Hyderabad is located at the Old City. This square shaped structure with a height of 56 m and breadth of 30 m was constructed in 1591. It was built by Sultan Mohammed Quli Qutb Shah in the honor of his wife Bhagmati.</p>

        <p>Also referred as the ‘Arc de Triomphe of the East’, Charminar is adorned with four towers in each corner. The minarets on each side, is of 48.7 m height, each with four storeys. Chaminar has a small mosque as well on the top floor. There are 45 prayer spaces which are still visited by people, particularly on Fridays. Lighting in the evening is quite glamorous and makes for a worth watching site.</p>
        </div>
    </div>
</div>