<div class="container con">
    <div class="row">
        <div class="column1">
            <h3>kerala</h3>
            <img src='/assets/Images/Kerala.jpg' style="width:100%"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>  
        </div> 
        <div class="column2">
            <h3>Houseboat in Kerala</h3>
           
                
            <p>Head south of Goa, and you'll trade beaches for tranquil backwaters in Kerala. Nothing beats the experience of hopping aboard a traditional thatched-top houseboat in Alleppey (also known as Alappuzha) and slowly floating through palm-fringed lagoons and rivers, either as a day trip or overnight adventure. You'll enjoy freshly cooked Indian cuisine on the water and breathtakingly beautiful natural sights and wildlife. </p>

<p>Easygoing Kerala is like a breath of fresh air from the intensity of cities like New Delhi and Jaipur up north. Schedule some time here when you're in need of a break from the chaos. </p>


           
        </div>
    </div>
</div>