<div class="container con">
    <div class="row">
        <div class="column1">
            <h3>Goa</h3>
            <img src='/assets/Images/Goa.jpg' style="width:100%"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>  
        </div> 
        <div class="column2">
            <h3>Palolem Beach, South Goa</h3>
            <p>India's not just full of big cities and holy sites—it also has incredible beaches down south in Goa. Its stretches of golden sand along the Arabian Sea offer something for every type of tourist, whether you're interested in hanging out with the backpacker crowd in laid-back beach huts or having a ritzy tropical getaway at a five-star resort.</p>
            <p>One unique part of Goa is its blend of Indian and Portuguese cultures. You'll experience the fusion throughout the destination, from its Baroque architecture and cathedrals to its spicy vindaloo curries and seafood dishes.</p>    
        </div>
    </div>
</div>