.section {
    
    height: 100%;
    width: 100%;
    position: relative;
    background: url(/Images/BackGround.jpg) ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
p {
    margin: .67em 0;
    font-size: 2em;
  }