<div class="container">    
    <body>
        <ul>
            <li><a class="active" href="/Home">Home</a></li>
            <li><a href="/SignIn">SignIn</a></li>
            <li><a href="/SignUp">SignUp</a></li>
            <li><a href="/About">About</a></li>
        </ul>
    </body>
    <p>Best palce to plan your journey</p>
    <div class="row">
        <div class = "column">    
            <img src='/assets/Images/Tej_Mahal.jpg' style="width:100%"/>
        </div>
        <div class = "column">
            <img href="/Charminar" src='/assets/Images/Charminar.jpg' style="width:100%"/>
        </div>
    </div>
    <div class="row">
        <div class = "column">
            <img src='/assets/Images/Kerala.jpg' style="width:100%"/>
        </div>
        <div class = "column">
            <img src='/assets/Images/Mumbai.jpg' style="width:100%"/>
        </div>
        <div class = "column">
            <img src='/assets/Images/Mysore Palace.jpg' style="width:100%"/>
        </div>
    </div>
    <div class="row">
        <div class = "column">
            <img src='/assets/Images/Goa.jpg' style="width:100%"/>
        </div>
        <div class = "column">
            <img src='/assets/Images/Rajasthan.jpg' style="width:100%"/>
        </div>
        <div class = "column">
            <img src='/assets/Images/India_Gate.jpg' style="width:100%"/>
        </div>
    </div>  
</div>