<div class="container con">
    <div class="row">
        <div class="column1">
            <h3>Mysore Palace</h3>
            <img src='/assets/Images/Mysore Palace.jpg' style="width:100%"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>  
        </div> 
        <div class="column2">
            <h3>Mysore Palace</h3>
            <p>While culturally different, South India is as enchanting as the north—just visit Mysore to see for yourself. The third-largest city in Karnataka is considered to be the cultural capital of the state, celebrated for its high-quality silk, Mysore painting tradition, and hypnotic Hindu temples with deity carvings that nearly touch the clouds.</p>
            <p>Most tourists visit Mysore to see its World Heritage-listed palace. This attraction takes Indian grandeur to the next level, with endless mirrored decor, stained-glass windows, carved wooden doors, and intricate mosaic floors that look like the inside of a kaleidoscope. The palace is considered to be one of the country's finest examples of Indo-Saracenic design. Be sure to swing by to see the palace at night, when it's lit up with thousands of twinkle lights.</p>
        </div>
    </div>
</div>