.centered {
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  .forgotpasswordpage,h1{
    margin: 50px;
    width: 200px;
    max-width: 250px;
    padding: 20px;
    font-size: 30px;
    margin: 10px 5 30px 15;
  }
label{
    width: 200%;
    padding: 20px;
    border: none;
    color: rgba(35, 30, 63, 0.747);
    size: 20px;   
}
.forgotpasswordpage{
    position: absolute;
    right: 0;
    margin: 50px;
    max-width: 300px;
    padding: 20px;
    font-size: 30px;
    background:transparent;
}
  input[type=email], input[type=password]{
    width: 150%;
    padding: 20px;
    margin: 10px 5 30px 15;
    border: none;
    background:  rgb(184, 216, 214);
  }
  input[type=email]:focus, input[type=password]:focus {
    background-color: #62ddd386;
    outline: none;
  }