<div class="container">    
    <img src='/assets/Images/Background.jpg' style="width:100%"/>
    <div class="centered">
    <form class="signupform">
        <h1>SignUp</h1>

        <label for="username"><b>UserName</b></label>
        <input type="text" placeholder="Enter UserName" name="userName"  (keyup)="onKey($event, 'text')" required>
        <h6 *ngIf="!valid.text">
            Username can consist of letters only and the
            minimum length is 3!
        </h6>

        <label for="phonenumber"><b>PhoneNumber</b></label>
        <input type="tel" placeholder="Enter PhoneNumber" name="phonenumber" (keyup)="onKey($event, 'tel')" required>
        <h6 *ngIf="!valid.tel">
            Your PhoneNumber is not Valid!
        </h6>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" (keyup)="onKey($event, 'email')"  required>
        <h6 *ngIf="!valid.email">
            Your email is not correct!
        </h6>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" (keyup)="onKey($event, 'password')" required>
        
        <h6 *ngIf="!valid.password">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</h6>

        <label for="confirmpassword"><b>ConfirmPassword</b></label>
        <input type="password" placeholder="Enter Confirm Password" name="confirmpassword" (keyup)="onKey($event, 'confirmPassword')">

        <h6 *ngIf="!valid.password">Passwords are different!</h6>

        <button type="submit"  (click)="signUp()" class="btn btn-primary mt-3">Sign Up</button>
        
        <p>Already have an account? <a href="/SignIn">Sign in</a>.</p>
    </form>
</div> 
</div>