<div class="container">    
    <img src='/assets/Images/Background.jpg' style="width:100%"/>
    <div class="centered">
    <form class="signupform">
        <h1>SignUp</h1>

        <label for="username"><b>UserName</b></label>
        <input type="text" placeholder="Enter UserName" name="userName" required>

        <label for="phonenumber"><b>PhoneNumber</b></label>
        <input type="text" placeholder="Enter PhoneNumber" name="phonenumber" required>
        
        <label for="gender"><b>Gender</b></label>
        <input type="text" placeholder="Enter Gender" name="gender" required>
        
        <label for="age"><b>Age</b></label>
        <input type="text" placeholder="Enter Age" name="age" required>
        
        <label for="nationality"><b>Nationality</b></label>
        <input type="text" placeholder="Enter Nationality" name="nationality" required>
        
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <label for="confirmpassword"><b>ConfirmPassword</b></label>
        <input type="password" placeholder="Enter Confirm Password" name="confirmpassword" required>

        <button type="submit" class="btn btn-outline-success">SignUp</button>
    </form>
</div> 
</div>