.centered {
    position: absolute;
    top: 5%;
    left: 58%;
    transform: translate(-50%, -50%);
  }
.signupform{
    position: absolute;
    right: 0;
    margin: 50px;
    max-width: 300px;
    padding: 20px;
    font-size: 30px;
    background:transparent;
}
label{
    width: 200%;
    padding: 20px;
    margin: 10px 5 30px 15;
    border: none;
    color: rgba(77, 11, 11, 0.747);
    size: 10px;   
}
input[type=text], input[type=email], input[type=password]{
    width: 150%;
    padding: 15px;
    margin: 10px 5 30px 15;
    border: none;
    background:  rgb(184, 216, 214);
  }
  input[type=email]:focus, input[type=password]:focus {
    background-color: #62ddd386;
    outline: none;
  }