.centered {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
.signinform{
    position: absolute;
    right: 0;
    margin: 50px;
    max-width: 300px;
    padding: 20px;
    font-size: 30px;
    background:transparent;
}
input[type=text], input[type=password]{
    width: 200%;
    padding: 20px;
    margin: 10px 5 30px 15;
    border: none;
    background:  rgb(184, 216, 214);
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #62ddd386;
    outline: none;
  }