<div class="container">    
    <img src='/assets/Images/Background.jpg' style="width:100%"/>
    <div class="centered">
    <form class="signinform">
        <h1>SignIn</h1>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        
        <a [routerLink]="['/Forgot Password']" class="btn btn-lg btn-light">ForgotPassword?</a>

        <button type="submit" class="btn btn-outline-success">SignIn</button>
    </form>
</div> 
</div>