<div class="container con">
    <div class="row">
        <div class="column1">
            <h3>Tej Mahal</h3>
            <img src='/assets/Images/Tej_Mahal.jpg' style="width:100%"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>  
        </div> 
        <div class="column2">
            <h3>The Taj Mahal, Agra</h3>
            
            <p>
                If there was just one symbol to represent all of India, it would be the Taj Mahal. The monument inspires millions of tourists to make the trip to Agra every year, waking up before dawn to see magnificent structure radiate at sunrise. But Agra tops the list of the best places to visit in India for reasons that go beyond India's most famous attraction.
            </p>
            <p>
                The city in Uttar Pradesh is chock-full of marvelous Mughal monuments, like Itimad-ud-Daulah's Tomb and Akbar's Mausoleum, decked out in hypnotic inlaid marble designs from top to bottom. Plus, tourists can also see another UNESCO World Heritage Site: the Agra Fort. With so many wonders in just one place, Agra is a must-visit city for tourists in India.
            </p>
        </div>
    </div>
</div>