.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row1::after {
    content: "";
    clear: both;
    display: table;
  }
  .row1 {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  .row2::after {
    content: "";
    clear: both;
    display: table;
  }
  .row2 {
    display: flex;
  }