<div class="row1">
    <div class = "column">
        <img target="_blank" src='/assets/Images/Tej_Mahal.jpg' style="width:100%"/>
    </div>
    <div class = "column">
        <img src='/assets/Images/India_Gate.jpg' style="width:100%"/>
    </div>
    <div class = "column">
        <img src='/assets/Images/Manali.jpg' style="width:100%"/>
    </div>
</div>
<div class="row2">
    <div class = "column">
        <img src='/assets/Images/Charminar.jpg' style="width:100%"/>
    </div>
    <div class = "column">
        <img src='/assets/Images/Ladakh.jpg' style="width:100%"/>
    </div>
    <div class = "column">
        <img src='/assets/Images/ANDAMAN-NICOBAR.jpg' style="width:100%"/>
    </div>
</div>