.centered {
    position: absolute;
    top: 5%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
  .reservation{
    position: absolute;
    width: 250px;
    right: 0;
    margin: 50px;
    max-width: 500px;
    padding: 15px;
    font-size: 25px;
    background:transparent;
  }
  label{
    width: 250%;
    padding: 20px;
    margin: 10px 5 30px 15;
    border: none;
    color: rgba(72, 59, 77, 0.747);
    size: 10px;   
  }
  input{
    width: 200%;
    padding: 20px;
    margin: 10px 5 30px 15;
    border: none;
    background:  rgb(184, 216, 214);
  }
  input:focus{
    background-color: #62ddd386;
    outline: none;
  }