<div class="container"> 
  
    <body>
        <ul>
            <li><a class="active" href="/main">Travel</a></li>
            <li><a href="/book-your-tickets">Book Your Tickets</a></li>
            <li><a href="/TicketDetails">TicketDetails</a></li>
            <li><a href="/change password">Change Password</a></li>
            <li><a href="/Home">SignOut</a></li>
        </ul>
    </body>
    <img src='/assets/Images/Travel.jpg' style="width:100%"/>
    <div class="centered"> 
    </div>
</div>