<div class="container">    
    <img src='/assets/Images/Travel.jpg' style="width:100%"/>
    <div class="centered">
    <form class="changepasswordpage">
        <h3>ChangePassword</h3>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required>

        <label for="newpassword"><b>Password</b></label>
        <input type="password" placeholder="Enter New Password" name="newpassword" required>
        
        <label for="confirmpassword"><b>ConfirmPassword</b></label>
        <input type="password" placeholder="Enter Confirm Password" name="confirmpassword" required>

        <button type="submit" class="btn">Forgot Password</button>
    </form>
</div> 
</div>