div{
    background-color: cadetblue;
}
p{
    text-align: center;
    font-size:xx-large;
    color: rgba(17, 51, 65, 0.952);
}
h3{
    text-align: center;
    color: rgb(6, 58, 8);
}
h2{
    color: rgb(255, 72, 0);
}