<div class="container">    
    <img src='/assets/Images/Travel.jpg' style="width:100%"/>
    <div class="centered">
    <form class="ticketdetails">
        <h3>Get Ticket Details</h3>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required>
        <table>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>Adults</th>
                <th>Children</th>
                <th>Check-in-Date</th>
                <th>check-out-date</th>
            </tr>
        </table>
    </form>
    </div>
</div>