<div class="container con">
    <div class="row">
        <div class="column1">
            <h3>Rajasthan</h3>
            <img src='/assets/Images/Rajasthan.jpg' style="width:100%"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>  
        </div> 
        <div class="column2">
            <h3>Gadi Sagar Temple in Jaisalmer, Rajasthan</h3>
            <p>Translated to "Land of Kings," Rajasthan brims with remnants of the kings and queens of past centuries. Between its glittering palaces, stately forts, and lively festivals, this western state deserves a starring role in your trip to India.</p>

            <p>Jaipur, part of the Golden Triangle Tourist Circuit, which also includes Agra and New Delhi, is one of the top places to visit in Rajasthan. Dubbed "The Paris of India," it's known for its characteristic pink buildings, lavish City Palace, and jewelry stores galore.</p>
            
            <p>The "Blue City," Jodhpur, offers tourists an equally unforgettable experience in its hilltop Mehrangarh Fort. Udaipur oozes romance with its flower-lined streets and fantastic City Palace Complex, where the royal family still lives today.</p>
            
            <p>And Jaisalmer looks like an Arabian Nights fairy tale brought to life, with its yellow sandstone structures and historic havelis (mansions). No matter where you end up in this desert state, you'll be captivated by the magic of Rajasthan.</p>           
        </div>
    </div>
</div>