<div class="container">
    <div class="row">
        <div class="column1">
            <h3>Mumbai</h3>
            <img src='/assets/Images/Mumbai.jpg' style="width:100%"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>  
        </div> 
        <div class="column2">
            <h3> The Gateway of India and the Taj Mahal Palace Hotel in Mumbai</h3>
            <p>Want to see a more cosmopolitan side of India? Head to the energetic, coastal city of Mumbai—home to ultra-wealthy entrepreneurs and the hottest Bollywood actors. Tourists are never far from five-star hotels or gourmet restaurants in this luxe city. And even if those activities are out of budget, a cruise down the beloved Marine Drive will make you feel like royalty as you catch a glimpse of the scenic coast and glamorous Art Deco buildings.</p>
            <p>You can also see a more authentic, local side of Mumbai in the bustling "Thieves Market" or at the Churchgate railway station, where hundreds of thousands of homemade lunches are packed up for delivery to the city's office workers every day.</p>
            <p>Make sure you devote a day to checking out Sanjay Gandhi National Park and exploring the 2,000-year-old Kanheri Cave carvings.</p>
        </div>
    </div>
</div>